<%-include('partials/header.ejs') %>
    <title>Home | ANNDATA</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
  </head>
  <body>
	  <%-include('partials/navbar_new.ejs') %>
    <main>
      <!-- ***********************  ABOUT*********************** -->
        <header>
          <div class="content-wrap">
            <h1>ANNDATA</h1>
            <h1 style="font-size: 3em;">Connecting Producers to Consumers</h1>
          </div>
        </header>
      <!-- ********************  PROJECTS / PORTFOLIO  ********************* -->
      <section class="box">
        <div class="content-wrap">
        <a href="/login" class="SL" role="button">
          Login
        </a>
        <a href="/signup" class="SL" role="button">
          Sign up
        </a>
        </div>
        </section>
        <!-- ********************  Download our app  ********************* -->
        <section class="downapp">
          <div class="downdownapp">
            <h1 align="center">Download our App<h1>
          <img class="googleplay" src="googleplay.png" alt="google playstore" align="center">
          </div>
          </section>

      <!-- *****************  CONTACT INFO / SOCIAL MEDIA  ***************** -->
      <footer>
        <div class="content-wrap">
          <h2>Let's Keep in Touch!</h2>
          <!-- Social media and contact links. Add or remove any networks. -->
          <!-- <ul class="contact-list">
            <li><a href="mailto:dakshjn10@gmail.com">dakshjn10@gmail.com</a></li>
            <li><a href="https://twitter.com/daksh__jain" target="_blank">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/daksh-jain-661455191/" target="_blank">LinkedIn</a></li>
            <li><a href="https://www.instagram.com/dakshjn.09/" target="_blank">Instagram</a></li>
            </ul> -->
          </div>
      </footer>
    </main>
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="crossorigin=""></script>
  </body>
</html>
