<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
  <style type="text/css">
  .back{
    background-color:rgba(184, 255, 196, 0.884);
  }
  .box{
    background-color:green ;
    color:white;
    width: 80%;
      padding: 50px;
      margin-right: auto;
      margin-left: auto;
  }
  .high1{
      color:black
    }
    .lab{
      color:black;
      font-size:25px;
    }
    .inp{
      width: 300px;
      height: 20px
    }
    .check{
      width: 20px;
      height: 20px
    }
    .checkinp{
      height:100px;
      width:200px;
    }
</style>
</head>
<body class="back">
	<div class="box">
		<div>
      <img src="/Users/akarshitjain/Desktop/Anndata/images/anndatalogo.jpg" align="right" style= width="300px" height="300px" />
		  <h1 class="high1"> Login
		  </h1>
		  <form>
  		<label for="name" class="lab">
  			Username:
  		</label>
  		<br>
  		<input type="text" class="inp" id="name" name="name">
  		<br>
  		<br>
  		<label for="Password" class="lab">
  			Password:
  		</label><br>
  		<input type="Password" class="inp" id="Password" name="Password">
  	<br>
    <br>
    <label for="checkbox" name="checkbox" id="agree" class="lab">
      Remember Me
    </label>
      <input type="checkbox" name="checkbox" id="agree" class="check" />
      <br>
      <br>
    <label for="Submit" name="Submit" id="Submit" style=" left: 250; top: 250;">
    </label>
        <input type="Submit" name="Submit" value="Submit" class="checkinp" />
        <br>
        <br>
        <a class="small" href="anndataSignUP.html" class="lab" ; >
          Don't have an account? Register Now!
        </a>
        <br>
		</form>
		</div>
	</div>
</body>
</html>
