<%-include('partials/header.ejs') %>
    <link rel = "stylesheet" href = "stylesheets/signin.css">
    <title>ANNDATA| Signin</title>
  </head>
  <body>
<%-include('partials/navbar_new.ejs') %>
<div class = "container mt-5" id = "sigin_form">
	<form action = "/signin" method = "POST">
  <div class="form-group">
    <label for="username">Phone Number</label>
    <input type="number" class="form-control" id="username" name = "username" required>
  </div>
  <div class="form-group">
    <label for="pass">Password</label>
    <input type="password" class="form-control" id="pass" name = "password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember Me</label>
  </div>
  <button type="submit" class="btn btn-primary">Signin</button>
</form>
</div>
<%-include('partials/scripts.ejs') %>
<%-include('partials/footer.ejs') %>