<%-include('partials/header.ejs') %>
    <link rel = "stylesheet" href = "stylesheets/signin.css">
    <title>ANNDATA| Signup</title>
  </head>
  <body>
<%-include('partials/navbar_new.ejs') %>
<div class = "container mt-5" id = "sigin_form">
	<form action = "/signup" method = "POST">
  <div class="form-group">
    <label for="uEmail1">Phone Number</label>
    <div class="input-group">
    	<input type="Number" class="form-control" id="uNum" placeholder = "Your Phone Number" name = "username" required>
	   <div class="input-group-append">
			<button class="btn btn-secondary" type="button" id="verify-btn">Verify</button>
	  </div>
    </div>
  </div>
	<div class="form-group">
    <label for="uname">Username</label>
    <input type="text" class="form-control" id="uname" placeholder = "Username" name = "uname" required>
  </div>
	<div class="form-group">
    <label for="uDOB">Date of Birth</label>
    <input type="date" class="form-control" id="uDOB" placeholder = "Date of Birth" name = "uDOB" required>
  </div>
	<div class="form-group">
    <label for="uGST">GSTIN Number</label>
    <input type="text" class="form-control" id="uGST" placeholder = "GSTIN Number" name = "uGST" required>
  </div>
	<div class="form-group">
    <label for="uOcc">Occupation</label>
    <select class="form-control" id="uOcc" name = "uOcc" required>
		<option value = "Consumer">Consumer</option>
		<option value = "Farmer">Farmer</option>
		<option value = "cStore">Cold Storager</option>
		<option value = "tService">Transport Service</option>
		<option value = "wSale">Wholesaler</option>
	</select>
  </div>
  <div class="form-group">
    <label for="upass">Password</label>
	  <div class = "input-group">
	    <input type="password" class="form-control" id="upass" placeholder = "password" name = "password" required>
			<span id = "icon"><i class="far fa-eye p-2" ></i></span>
	  </div>
  </div>
	<div class="progress">
  		<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
		</div>
	</div>
		<p id="password-strength-text"></p>
  <div class="form-group">
    <label for="cpass">Confirm Password</label>
    <input type="password" class="form-control" id="cpass" placeholder = "password" name = "cpassword" required>
  </div>
  <button type="submit" class="btn btn-primary " disabled>Sign Up</button>
</form>
</div>
<%-include('partials/scripts.ejs') %>
	  <script src = "/scripts/signup.js"></script>
<%-include('partials/footer.ejs') %>
