<%-include('partials/header.ejs') %>
    <title>ANNDATA| T&C</title>
    <link rel="stylesheet" href="stylesheets/styles1.css">
  </head>
  <body>
<%-include('partials/navbar_new.ejs') %>
    <div class = "mt-5 container-fluid d-flex justify-content-center align-item-center">
    	<h1 style="font-size: 5em; color: #FF8F1C;">Term & Conditions</h1>
    </div>
	<div class = "container mt-4" id = "cont">
		<div class="row justify-content-around pt-c">
			<div class="col-12">
				<p>
					<strong>Privacy Policy</strong>
 <br>
					Collection of Personal Information
					For a better experience, while using our application or our website , we will collect certain important information as a part of our
					app and website registration process,certain important data will be collected like Name,Date Of Birth,Email Address,Mobile No,GST IN
					Number(Goods and Services Tax Identification Number),Location and other important information. The data that we collect will be
					retained by us and used as described further in the privacy policy.
				</p>
				<p>
				<strong>Use Of Personal Information</strong>
					<br>
Our app ANNDATA collects and uses your personal information to operate our website and app and deliver the services that we have provided. ANNDATA also uses your personal information to inform you of other products or services available from our services.We may contact you via surveys or calls to conduct research about your opinion of services that we are currently providing or the potential new services that we will be providing in the forthcoming future.
ANNDATA does not sell, rent or lease its customer lists to third parties.We may also share data with trusted service partners such as Google and other services like Razorpay which make our transactions go safely without any interruption or server side failure. All the third parties are prohibited from using your personal information and we are required to maintain the confidentiality of your information.
				</p>
 <p>
<strong>Use of Cookies</strong>
	 <br>
Our website ANNDATA uses "cookies" to help personalise your online experience.
A cookie is basically a text file which is placed on your hard disk by a webpage server. Cookies are uniquely assigned to you by the browser and can only be read by a web server in the domain that issued the cookie to you and the information remains safe with the webpage and nobody can access it without your information.
Cookies are used to provide a very convenient feature to save you time. A cookie is to tell the web server that you have returned to a specific page like if you register with our website, a cookie will help to recall your specific information on multiple visits so that when you return to the same web page, the information you previously provided will  be easily retrieved, so your user experience is faster, you will have the ability to accept or decline cookies.You can modify your browser settings to decline or accept cookies if you have any doubt regarding the website or your information being saved.

				</p>
			</div>
		</div>
	</div>
<%-include('partials/scripts.ejs') %>
<%-include('partials/footer.ejs') %>