<%-include('partials/header.ejs') %>
    <title>ANNDATA| Team</title>
    <link rel="stylesheet" href="stylesheets/styles1.css">
  </head>
  <body>
<%-include('partials/navbar_new.ejs') %>
    <div class = "mt-5 container-fluid d-flex justify-content-center align-item-center">
    	<h1 style="font-size: 5em; color: #FF8F1C;">OUR TEAM</h1>
    </div>
	<div class = "container mt-4" id = "cont">
		<div class="row justify-content-around pt-c">
			<div class="col-12 col-lg-3 px-3 img-cont justify-content-center">
				<div class = "img">
					<img src = "https://i.imgur.com/rMlnVsa.jpg" class = "img1">
				</div>
				<div>
					<h3 class = "display-4">
						Daksh Jain
					</h3>
					<a href = "https://www.linkedin.com/in/daksh-jain-661455191/"><img src = "linkedin.svg"></a>
				</div>
			</div>
			<div class="col-12 col-lg-3 px-3 img-cont justify-content-center">
				<div class = "img">
					<img src = "https://i.imgur.com/PBR1JF4.jpg" class = "img2">
				</div>
				<div>
					<h3 class = "display-4">
						Mihir Sirpaul
					</h3>
					<a href = "https://www.linkedin.com/in/mihir-sirpaul-ab73b21a5"><img src = "linkedin.svg"></a>
				</div>
			</div>
			<div class="col-12 col-lg-3 px-3 img-cont justify-content-center">
				<div class = "img">
					<img src = "https://i.imgur.com/TbkDgJb.png" class = "img3">
				</div>
				<div>
					<h3 class = "display-4">
						Siddharth Mittal
					</h3>
					<a href = "www.linkedin.com/in/siddharth-mittal-2101"><img src = "linkedin.svg"></a>
				</div>
			</div>
			<div class="col-12 col-lg-3 px-3 img-cont justify-content-center">
				<div class = "img">
					<img src = "https://i.imgur.com/DrAOzAn.jpg" class = "img4">
				</div>
				<div>
					<h3 class = "display-4">
						Vivan Singh
					</h3>
					<a href = "https://www.linkedin.com/in/vivan-singh-chouhan-811284190"><img src = "linkedin.svg"></a>					
				</div>
			</div>
		</div>
	</div>
<%-include('partials/scripts.ejs') %>
<%-include('partials/footer.ejs') %>