/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/

/* Global styles
------------------------------------*/
.h-0{
	height:0 !important;
}
.addData{
	transition:0.2s;
	overflow:hidden;
	height:auto;
}
.test{
	border:2px dashed black;
	border-radius:12.5px;
	
}
.dp{
	width:9rem;
	height:9rem;
	border:2px solid black;
	border-radius:50%;
}
.dn{
	font-size:2rem;
	text-align:left;
	
}
.userInfo{
	flex-direction:column;
	width:inherit;
	height:15rem;
	font-size:2rem;
}
.userInfo p{
	width:100%;
}
#cont{
	max-width:85%;
	border-radius:2.5rem;
	background-color:rgba(245, 255, 237, 0.8);
	height:50rem;
}
@font-face {
font-family: 'Samarkan Normal';
font-style: normal;
font-weight: normal;
src: local('Samarkan Normal'), url('fonts/SAMARN__.woff') format('woff');
}
html,body{
	height:100%;
	width:100%;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	background:url("../backg.png");
  color: #343434;
  margin: 0;
  padding: 0;
font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 1.5;
	height:100%;
	background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  width: 300px;
}
a {
  color: #FFE66D;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 80px;
  align="justify"
  line-height: 1.0;
}
h2 {
  font-size: 45px;
}
h1{
  font-family: 'Caveat',cursive;
  font-weight: 400;
  margin: 0;
  }

h2 {
  font-family: 'Muli',sans-serif;
  font-weight: 400;
  margin: 0;
}
.container-fluid{
	padding:0;
}
.content-wrap {
  max-width: 100%;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;

}
h3 {
	font-family: 'Caveat',cursive;
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section{
  border-bottom: 1px dashed #F7FFF7;
  /* #343434; */
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}
/* Profile
------------------------------------*/
.img-cont .img{
	width:17rem;
	height:17rem;
	border-radius:50%;
	overflow:hidden;
	border:2px solid black;
	
}
.img-cont a img{
	width:4rem;
}
.img-cont .img1{
	position:relative;
	top:1rem;
	
}
.img-cont .img2{
	position:relative;
	top:-1.5rem;
	
}
.img-cont .img3{
	position:relative;
	top:-10rem;
	
}
.img-cont .img4{
	position:relative;
	top:-2rem;
	
}
.img-cont div h3{
	text-align:left;
}
.pt-c{
	padding-top:6rem;
}
header {
	
  background:rgba(217, 255, 217, 0.8);
  color: #FF8F1C;

}
.box{
  background-image: url(backg.png);
  background-size: cover;
  background-position:center;
}
.SL{
  background: #FF8F1C;
  color: #fff!important;
  display: inline-block;
  margin-left: 20px;
  margin-right: 15px;
  margin-top: 500px;
  margin-bottom: 500px;
  width: 360px;
  text-align: center;
  padding: 15px;
  line-height: 2;
  font-family:Futura Condensed ;
  font-size: 25px;
  font-weight: 500;
}
#nav{
	background-color:rgba(217, 255, 217, 1.0);
}
/* Download our app
------------------------------------*/
.downapp{
  background: rgba(247, 255, 247, 0.8);
  color: #250E62;
}
.downdownapp{
  max-width: 100%;
  width: 85%;
  margin: 0 auto;
  /* padding: 60px 0; */
}
.googleplay{
  width: 300px;
}


/* Contact Info
------------------------------------*/
footer {
  background:#509E2F;
  color: #F7FFF7;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}
/* Responsive
------------------------------------*/

@media screen and (min-width:750px){
  header, footer {
    text-align: center;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }
  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width:749px){
  h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 20px;
  }
  h2 {
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }
}
